@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var blogPosts = await BlogPostsService.GetAllAsync();
    var projects = await ProjectsService.GetAllAsync();
}

@section Title{

}

@section Header{
    @await Html.PartialAsync("~/Pages/Shared/_HeaderPartial.cshtml")
}

<div class="container summary-container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="row">
        @foreach (var project in projects.Take(3))
        {
            <a asp-page="/Projects/Detail" asp-route-id="@project.Id" class="project-card">
                <div class="card">
                    <img class="card-img-top" src="@project.GetInlineImageSrc()" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">@project.ShortDescription</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="container summary-container" id="blog-summary">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Recent Posts</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="row home-blog-posts-row">
        @foreach (var post in blogPosts.Take(3))
        {
            <a asp-page="/Blog/Detail" asp-route-id="@post.Id" class="blog-card">
                <div class="card border-bottom">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Body.Substring(0, 200)...</p>
                        <p>Posted: @post.CreationDate.ToShortDateString()</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
