@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var blogPosts = await BlogPostsService.GetAllAsync();
    var projects = await ProjectsService.GetAllAsync();
}

<h1>Bio</h1>
<p>Joshua Douce</p>
<p>Short snipper about me</p>

<h1>Recent Projects</h1>

<div class="container">
    <div class="row">
        @foreach (var project in projects.Take(3))
        {
            <div class="card project-card border-dark mb-3">
                <img class="card-img-top" src="@project.GetInlineImageSrc()" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                    <p class="card-text">@project.ShortDescription</p>
                </div>
            </div>
        }
    </div>
</div>

<h1>Recent Posts</h1>

<div class="container">
    <div class="row">
        @foreach (var post in blogPosts.Take(3))
        {
            <div class="card blog-card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Body.Substring(0, 200)...</p>
                    <p>Posted: @post.CreationDate.ToShortDateString()</p>
                </div>
            </div>
        }
    </div>
</div>
