@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var blogPosts = await BlogPostsService.GetAllAsync();
    var projects = await ProjectsService.GetAllAsync();
}

@section Title{

}

    <div class="index-header-container bg-primary text-white text-center">
        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0" id="index-main-title">Josh Douce</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Software Developer</p>

    </div>

<h1>Recent Projects</h1>

<div class="container">
    <div class="row home-projects-row">
        @foreach (var project in projects.Take(3))
        {
            <a asp-page="/Project" asp-route-id="@project.Id" class="project-card">
                <div class="card">
                    <img class="card-img-top" src="@project.GetInlineImageSrc()" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">@project.ShortDescription</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<h1>Recent Posts</h1>

<div class="container">
    <div class="row home-blog-posts-row">
        @foreach (var post in blogPosts.Take(3))
        {
            <a asp-page="/Blog" asp-route-id="@post.Id" class="blog-card">
                <div class="card border-bottom">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Body.Substring(0, 200)...</p>
                        <p>Posted: @post.CreationDate.ToShortDateString()</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
