@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var blogPosts = await BlogPostsService.GetAllAsync();
    var projects = await ProjectsService.GetAllAsync();
}

    <div class="container-fluid" id="homepage-top">
        <img src="~/media/me.jpg" id="profile-img"/>
        <p>I am a Software Developer and a student at Sheffield Hallam University studying Software Engineering. I am passionate about software
        development and currently work mainly in Microsofts asp.net/.net core stack. In my spare time I like to devlop Android applications using Kotlin.</p>
    </div>


<h1>Recent Projects</h1>

@section Title{ 

}

<div class="container">
    <div class="row">
        @foreach (var project in projects.Take(3))
        {
        <a asp-page="/Project" asp-route-id="@project.Id">
            <div class="card project-card">
                <img class="card-img-top" src="@project.GetInlineImageSrc()" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                    <p class="card-text">@project.ShortDescription</p>
                </div>
            </div>
        </a>
        }
    </div>
</div>

<h1>Recent Posts</h1>

<div class="container">
    <div class="row">
        @foreach (var post in blogPosts.Take(3))
        {
        <a asp-page="/Blog" asp-route-id="@post.Id">
            <div class="card blog-card border-bottom">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Body.Substring(0, 200)...</p>
                    <p>Posted: @post.CreationDate.ToShortDateString()</p>
                </div>
            </div>
        </a>
        }
    </div>
</div>
